body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("images/jazyki.jpg");
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
footer{
    background-color: rgba(0, 0, 0, 0.7);
}
header {
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 100;
}
header a {
    text-decoration: none;
    color: white;
}

header a h1 {
    margin: 0;
    font-size: 24px;
    transition: color 0.3s;
}

header a:hover h1 {
    color: #00aaff;
}
.contact {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
}
.contact img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}
#cpp,#csh,#git{
    height: 56px;
    width: 56px;
}
